.advantage {
  text-align: center;
  background-color: #ffffff;
}

.advantage__title {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.advantage--accent {
  background-color: #83B3D3;
}

.advantage--accent .advantage__title, .advantage--accent .advantage__description {
  color: #ffffff;
}

.advantage--edge {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantage--middle {
  background-color: rgba(131, 179, 211, 0.20);
}


