.advantages__title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.advantages__description {
  font-size: 22px;
  line-height: 36px;
  text-align: center;
}
