.booking-form {
  display: grid;
  grid-template-columns: 50% 1fr;
  grid-template-rows: 50px 50px 50px 60px;
  row-gap: 40px;
}

.booking-form__field {
  display: grid;
  grid-template-columns: 140px 1fr;
  grid-template-rows: 50px;
  column-gap: 15px;
  row-gap: 4px;
}

.booking-form__field--date {
  grid-column: 1 / -1;
}

.booking-form__field--date .booking-form__input {
  background-image: url("../../images/icons/calendar-icon.svg");
  background-repeat: no-repeat;
  background-position: right 19px top 50%;
}

.booking-form__field--date .booking-form__input:hover {
  background-color: #E6E6E6;
}

.booking-form__field--date .booking-form__input:active {
  background-color: #ffffff;
  outline: 2px solid #000000;
}

.booking-form__field--date .booking-form__input:focus:not(:active) {
  background-color: #e6e6e6;
  outline: 3px solid #83B3D3;
}

.booking-form__title-wrapper {
  display: flex;
  justify-self: end;
  align-self: center;
}

.booking-form__field-title {
  font-weight: 700;
  align-self: center;
}

.booking-form__field-info {
  position: relative;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #83B3D3;
  margin-right: 3px;
  margin-left: 10px;
  background-image: url("../../images/icons/info-icon.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.booking-form__field-info:hover {
  background-color: #68A2CA;
}

.booking-form__info-text {
  display: none;
  position: absolute;
  left: -115px;
  top: 40px;
  width: 256px;
  line-height: 20px;
  font-size: 16px;
  padding: 15px 18px 18px 22px;
  color: #ffffff;
  background-color: #333333;
  border-radius: 10px;
  z-index: 6;
}

.booking-form__info-text::before {
  position: absolute;
  content: '';
  top: -9px;
  left: 50%;
  transform: translate(-50%);
  width: 19px;
  height: 9px;
  background-image: url("../../images/icons/info-triangle.svg");
  background-repeat: no-repeat;
}

.booking-form__field-info:hover .booking-form__info-text {
  display: block;
}

.booking-form__input-group {
  position: relative;
  z-index: 0;
  display: grid;
  grid-template-columns: 50px 1fr 50px;
}

.booking-form__input {
  width: 100%;
  line-height: 40px;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  padding: 5px 70px 5px 19px;
  background-color: #F2F2F2;
  border: none;
}

.booking-form__input-group .booking-form__input {
  padding: 0 50px;
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  text-align: center;
  appearance: textfield;
  border-radius: 4px;
}


.booking-form__input-button {
  position: relative;
  width: 50px;
  height: 50px;
  border: none;
  z-index: 1;
  background-color: transparent;
}

.booking-form__input-button--decrease {
  display: grid;
  place-content: center;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.booking-form__input-button--decrease::after {
  content: '';
  width: 25px;
  height: 25px;
  opacity: 0.3;
  background-image: url("../../images/icons/minus-icon.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.booking-form__input-button--increase {
  display: grid;
  place-content: center;
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.booking-form__input-button--increase::after {
  content: '';
  width: 25px;
  height: 25px;
  opacity: 0.3;
  background-image: url("../../images/icons/plus-icon.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.booking-form__input-button:hover::after {
  opacity: 1;
}

.booking-form__input-button:active::after {
  opacity: 0.2;
}

.booking-form__input-button:focus:not(:active)::after {
  opacity: 1;
  outline: 3px solid #83B3D3;
  border-radius: 4px;
}

.booking-form__input-button:disabled {
  opacity: 0.1;
}


.booking-form__input-group .booking-form__input:hover {
  background-color: #E6E6E6;
}

.booking-form__input-group .booking-form__input:active {
  background-color: #E6E6E6;
  outline: 3px solid #83B3D3;
}

.booking-form__input-group .booking-form__input:focus:not(:active) {
  background-color: #E6E6E6;
  outline: 3px solid #83B3D3;
}

.booking-form__message {
  font-size: 16px;
  grid-column: 2 / -1;
}

.booking-form__message--error {
  color: #ff5757;
}

.booking-form__button {
  font-size: 20px;
  min-width: 575px;
  grid-column: 1 / -1;
}
