.contact-phone {
  display: block;
  padding: 15px;
}

.contact-phone:hover {
  color: #756257;
}

.contact-phone:active {
  color: #756257;
  opacity: 0.3;
}

.contact-phone:focus:not(:active) {
  border-radius: 10px;
  outline: 3px solid #83b3d3;
}
