.copyright {
  display: block;
  padding: 21px 10px 18px;
  justify-self: end;
}

.copyright:focus:not(:active) {
  border-radius: 10px;
  outline: 3px solid #83b3d3;
}

.copyright__developer-logo {
  fill: #000000;
}

.copyright__developer-logo:hover {
  fill: #756257;
}

.copyright__developer-logo:active {
  fill: #756257;
  opacity: 0.3;
}
