.hotel-offer {
  padding: 91px 240px 93px;
  text-align: center;
}


.hotel-offer__title {
  margin-top: 0;
  margin-bottom: 29px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.hotel-offer__description {
  margin-top: 0;
  margin-bottom: 56px;
  font-size: 22px;
  line-height: 25px;
}

.hotel-offer__button {
  padding: 20px 15px;
  min-width: 575px;
  font-size: 20px;
  border-radius: 10px;
}
