.search__link {
  display: block;
  min-width: 18px;
  padding: 24px 12px;
}

.search__link:hover .search__icon {
  fill: #756257;
}

.search__link:active .search__icon {
  fill: rgba(117, 98, 87, 0.3);
}
