.site-navigation {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.site-navigation__link {
  position: relative;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
  text-decoration: none;
  display: block;
  padding: 17px;
  padding-top: 20px;
}

.site-navigation__link:hover{
  color: #756257;
}

.site-navigation__link:active {
  color: rgba(117, 98, 87, 0.3);
}

.site-navigation__link--current::before {
  position: absolute;
  content: '';
  left: 17px;
  right: 17px;
  bottom: -3px;
  height: 2px;
  background-color: #756257;
}

