.social-list {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  max-width: 182px;
  list-style-type: none;
  column-gap: 3px;
  row-gap: 10px;
}

.social-list__item:nth-child(4) {
  margin-right: 0;
}

.social-list__link {
  display: grid;
  justify-content: center;
  align-content: center;
  width: 40px;
  height: 40px;
  padding: 10px;
}

.social-list__icon {
  fill: #83B3D3;
}

.social-list__link:hover .social-list__icon {
  fill: #68A2CA;
}

.social-list__link:active .social-list__icon {
  opacity: 0.3;
}

.social-list__link:focus:not(:active) {
  border-radius: 10px;
  outline: 3px solid #83B3D3;
}
