.sorting-types {
  display: grid;
  grid-template-columns: 1fr 287px auto;
  column-gap: 81px;
  padding: 44px 72px 53px;
}

.sorting-types__text-result {
  margin-top: 3px;
  margin-right: auto;
  margin-bottom: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 39px;
  text-transform: uppercase;
  color: #000000;
}

.sorting-types__types-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 8px;
  row-gap: 8px;
  margin: 0;
  padding: 0;
  max-width: 212px;
  list-style-type: none;
}

.sorting-types__type-button {
  display: block;
  width: 48px;
  height: 48px;
  min-width: 16px;
  padding: 19px 16px;
  border: 2px solid #e6e6e6;
  border-radius: 4px;
}

.sorting-types__type-button:hover,
.sorting-form__type-button:focus {
  background-color: transparent;
  border-color: #83b3d3;
}

.sorting-types__type-button:active {
  background-color: transparent;
  border-color: #000000;
}
