.subscription-form {
  display: grid;
  grid-template-columns: 1fr 200px;
}

.subscription-form__field {
  display: flex;
}

.subscription-form__input {
  padding: 17px 22px;
  width: 100%;
  font-family: inherit;
  font-size: 18px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 10px 0 0 10px;
}

.subscription-form__input:hover {
  background-color: #e6e6e6;
}

.subscription-form__input:focus {
  outline: 3px solid #83b3d3;
}

.subscription-form__input--error:focus {
  outline: 2px solid #ff5757;
}

.subscription-form__input::placeholder {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
}

.subscription-form__button {
  font-size: 20px;
  border-radius: 0 10px 10px 0;
}
