.user-navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 306px;
  list-style-type: none;
}

.user-navigation__link {
  display: block;
  min-width: 18px;
  padding: 24px 12px;
}

.user-navigation__item:last-child {
  margin-left: 20px;
}

.user-navigation__button {
  display: block;
  min-width: 160px;
}
