.main-wrapper {
  flex-grow: 1;
}

.catalog-wrapper {
  color: #ffffff;
  background-image: url("../../images/other/catalog_filters_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 35px 72px 86px;
}
